{include file="publicTPL:head"}
<title>Longin</title>
<style>
.info {
    color: red;
}
</style>
<script type="text/javascript" src="/db/public/static/js/md5.js"></script>
<body>
<!-- header -->
{include file="publicTPL:header"}
<!-- //header -->
<!-- navigation -->
{include file="publicTPL:navi"}
<!-- //navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/db/index.php/index/Index/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>主页</a></li>
				<li class="active">登录</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!-- login -->
	<div class="login">
		<div class="container">
			<h2>欢迎回来</h2>
		
			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				<form action="javascript:Check_login()">
					<input type="email" placeholder="Email Address" required=" " id='email'><span id='emailInfo' class='info'></span>
					<input type="password" placeholder="Password" required=" " id='pwd'><span id='pwdlInfo' class='info'></span>
					<div class="forgot">
						<a href="#">忘记密码？</a>
					</div>
					<input type="submit" value="Login">
				</form>
			</div>
			<h4>第一次来到物外？</h4>
			<p><a href="registered">Register Here</a> (Or) go back to <a href="{:url('index:index')}">Home<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></p>
		</div>
	</div>
<!-- //login -->
<!-- //footer -->
{include file="publicTPL:footer"}
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="/db/public/static/js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="/db/public/static/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="/db/public/static/js/skdslider.min.js"></script>
<link href="/db/public/static/css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			
		});
		
		function Check_login()
		{
			var email = $('#email').val();
			var pwd = $('#pwd').val();
			var correct = 1;
			if (pwd.length < 6 || pwd.length > 20) {
				$('.info').text('');
				$('#pwdInfo').text("密码长度在6-20之间");
				correct = 0;
			}
			if (correct == 0)	{
				
			}
			else
			{
				$('#info').text('');
				$.ajax({
					type : "post",
					url : "Check_login",
					data : "&email="+email+"&pwd="+hex_md5(pwd),
					dataType:"json",
					success : function s(msg)
					{
						if (msg.status == "failed"){
							if(msg.reason == "nullEmail"){
								$('.info').text('');
								$('#emailInfo').text("该邮箱还未注册");
							}
							else if(msg.reason == "errorPwd"){
								$('.info').text('');
								$('#pwdInfo').text("密码不正确");
							}
						}
						else{
							window.location.href = "/db/index.php/index/Index/index";
						}
					}
				});
			}
		}
</script>	
<!-- //main slider-banner --> 

</body>
</html>