<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 物品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{:url('category')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
					<li><a data-href="product_list.html" data-title="物品管理" href="javascript:void(0)">物品管理</a></li>
				</ul>
			</dd>
		</dl>
	
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>