<!-- <include file="public:head" /> -->
{include file="publicTPL:head"}
<head>
<title>Home</title>
</head>
<body>
<!-- //header -->
{include file="publicTPL:header"}
<!-- navigation -->
{include file="publicTPL:navi"}
<!-- //navigation -->
	<!-- main-slider -->
		<ul id="demo1">
			<li>
				<img src="/db/public/static/images/11.jpg" alt="" />
				<!--Slider Description example-->
				<div class="slide-desc">
					<h3>欢 迎 来 到 物 外</h3>
				</div>
			</li>
			<li>
				<img src="/db/public/static/images/22.jpg" alt="" />
				  <div class="slide-desc">
					<h3>从 这 里 挑 选 您 喜 欢 的 商 品</h3>
				</div>
			</li>
			
			<li>
				<img src="/db/public/static/images/44.jpg" alt="" />
				<div class="slide-desc">
					<h3>或 者 出 售 您 的 闲 置 物 品</h3>
				</div>
			</li>
		</ul>
	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<!-- top-brands -->

	<div class="top-brands">
		<div class="container">
		<h2>猜您喜欢</h2>
			<div class="grid_3 grid_5">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">随机展示</a></li>
						<li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">最多收藏</a></li>
					</ul>
					<div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
							<div class="agile_top_brands_grids">
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="/db/public/static/images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
															<p class="name">Tata-salt</p>
															<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<span hidden class="id"></span>
															<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="/db/public/static/images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
															<p class="name">Tata-salt</p>
															<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<span hidden class="id"></span>
															<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="/db/public/static/images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
															<p class="name">Tata-salt</p>
															<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<span hidden class="id"></span>
															<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<!--最多收藏-->
						<div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">

							<div class="agile_top_brands_grids">
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="/db/public/static/images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
															<p class="name">Tata-salt</p>
															<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<span hidden class="id"></span>
															<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="/db/public/static/images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
															<p class="name">Tata-salt</p>
															<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<span hidden class="id"></span>
															<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-4 top_brand_left">
									<div class="hover14 column">
										<div class="agile_top_brand_left_grid">
											<div class="agile_top_brand_left_grid_pos">
												<img src="/db/public/static/images/offer.png" alt=" " class="img-responsive" />
											</div>
											<div class="agile_top_brand_left_grid1">
												<figure>
													<div class="snipcart-item block" >
														<div class="snipcart-thumb">
															<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
															<p class="name">Tata-salt</p>
															<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
														</div>
														<div class="snipcart-details top_brand_home_details">
															<span hidden class="id"></span>
															<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
														</div>
													</div>
												</figure>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //top-brands -->
 <!-- Carousel
    ================================================== -->
   

<!--brands-->
	<div class="brands">
		<div class="container">
		<h3>受欢迎商家</h3>
			<div class="brands-agile">
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="brands-agile-1">
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="col-md-2 w3layouts-brand">
					<div class="brands-w3l">
						<p><a href="#">商家名称</a></p>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
<!--//brands-->
<!-- new -->
	
<!-- //new -->
<!-- //footer -->
{include file="publicTPL:footer"}
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="/db/public/static/js/bootstrap.min.js"></script>

<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="/db/public/static/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="/db/public/static/js/skdslider.min.js"></script>
<link href="/db/public/static/css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
		jQuery(document).ready(function(){
			jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
						
			jQuery('#responsive').change(function(){
			  $('#responsive_wrapper').width(jQuery(this).val());
			});
			

			CheckLogin();
				
		});
</script>	
<!-- //main slider-banner --> 
</body>
</html>