{include file="publicTPL:head"}
<head>
		<title>分类</title>
</head>
<body>
<!-- header -->
{include file="publicTPL:header"}
<!-- //header -->
<!-- navigation -->
{include file="publicTPL:navi"}
<!-- //navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active" id="class_name">分类浏览</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- gourmet --->
	<div class="products">
		<div class="container">
			<div class="col-md-3 categories"  style="padding: 1%">
				<h2>卖家信息</h2>
				<div class="snipcart-item block" style="text-align: center;border-style:inset;margin: 10%">
					<img id="seller_profile" src="" alt="" onerror="this.src='/db/public/static/images/profile_pictures/default_profile_picture.jpg'" class="img-responsive center-block">
				</div>
				<h3 id=seller_name style="text-align:center;">名字</h3><br>
				<h3 id=seller_id hidden style="text-align:center;">名字</h3>
				<h4 id=seller_history >ta的交易：</h4><br>
				<div>
					<div class="col-md-6" style="border-right:solid black 1px;">
						<h3 id="seller_product_num" class="h2" style="text-align: center; color:gray">0</h3>
						<p style="text-align: center;color:gray">在售商品</p>
					</div>
					<div class="col-md-6">
						<h3 id="seller_order_num" class="h2" style="text-align: center; color:gray">0</h3>
						<p style="text-align: center;color:gray">完成的交易</p>
					</div>
				</div>																																											
			</div>

			<div class="col-md-9 products-right">
				<h2 style="text-align:center;">他的在售商品</h2>
				<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
				<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
				<div class="agile_top_brands_grids">
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a><img class="picture" src="/db/public/static/images/default.jpg" width="85%" height="85%"/></a>		
												<p class="name">Tata-salt</p>
												<h4 class="price">$20.99 <span class="oprice">$35.00</span></h4>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<span hidden class="id"></span>
												<button class="jumpToSingle btn btn-lg btn-info">查看详情</button>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
				<nav class="numbering">
					<ul class="pagination paging">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!--- gourmet --->
<!-- //footer -->
{include file="publicTPL:footer"}
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="/db/public/static/js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="/db/public/static/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="/db/public/static/js/skdslider.min.js"></script>
<link href="/db/public/static/css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
					
		jQuery('#responsive').change(function(){
			$('#responsive_wrapper').width(jQuery(this).val());
		});
		
	});
</script>	

<script type="text/javascript">
	function getUrlParam(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
		var r = window.location.search.substr(1).match(reg);  //匹配目标参数
		if (r != null) return unescape(r[2]); return null; //返回参数值
    }
	var class_name=['','书刊影音','美食生鲜','家用电器','服饰内衣','美妆个护','预留1','预留2','预留3'];
	$("#class_name").html(class_name[getUrlParam("cid")]);
</script>
<!-- //main slider-banner --> 

</body>
</html>