{include file="publicTPL:head"}
<head>
	<title>商品详情</title>
</head>
<body>
<!-- header -->
{include file="publicTPL:header"}
<!-- //header -->
<!-- navigation -->
{include file="publicTPL:navi"}
<!-- //navigation -->
<script type="text/javascript" src="/db/public/static/js/layer/layer.js"></script>
<!-- breadcrumbs -->
<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="/db/index.php/index/Index/index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a></li>
			<li class="active">商品详情</li>
		</ol>
	</div>
</div>
<!-- //breadcrumbs -->
<div class="products">
		<div class="container">
			<div class="agileinfo_single">
				<div class="col-md-9"> 
					<div class="col-md-4 agileinfo_single_left">
						<img id="example" src="" onerror="this.src='/db/public/static/images/default.jpg'" class="img-responsive" >
					</div>
					<div class="col-md-8 agileinfo_single_right" >
					<div style="margin-top: 20px">
						<h2 id="product_name">商品名称</h2>
						<div class="">
							<div class="snipcart-thumb agileinfo_single_right_snipcart">
								<h3 class="m-sing" style="display:inline-block; margin-right:20px">
									现价：<i class="fa fa-cny" aria-hidden="true" style="color: red"></i><span><price style="color: red" id="oprice">999.00</price></span>
								</h3>
								<h4 class="m-sing" style="display:inline-block; margin-left:20px">
									原价：<i class="fa fa-cny" aria-hidden="true"></i><s><oprice id="price">9999.00</oprice></s>
								</h4>
							</div>
		
							<div class="btn-group">
									<button id="submit_to_cart" value="" class="btn btn-lg btn-info">加入收藏</button>
									<button id="buy-now" value="" class="btn btn-lg btn-warning">立即购买</button>
							</div>
						</div>
					</div>
					</div>
					<div class="clearfix" style="margin:40px"></div>
							
					<div style="margin:3%">
					<h3>商品介绍</h3>
						<p id="product_detail">以下是商品介绍</p>
						<ul id="pictures"><li></li></ul>
					</div>
				</div>
				<div class="col-md-3 categories " style="padding: 1%">
					<h2>卖家信息</h2>
					<div class="snipcart-item block" style="text-align: center;border-style:inset;margin: 10%">
						<img id="seller_profile" src="" alt="" onerror="this.src='/db/public/static/images/profile_pictures/default_profile_picture.jpg'" class="img-responsive center-block">
					</div>
					<h3 id=seller_name style="text-align:center;">名字</h3><br>
					<h3 id=seller_id hidden style="text-align:center;">名字</h3>
					<h4 id=seller_history >ta的交易：</h4><br>
					<div>
						<div class="col-md-6" style="border-right:solid black 1px;">
							<h3 id="seller_product_num" class="h2" style="text-align: center; color:gray">0</h3>
							<p style="text-align: center;color:gray">在售商品</p>
						</div>
						<div class="col-md-6">
							<h3 id="seller_order_num" class="h2" style="text-align: center; color:gray">0</h3>
							<p style="text-align: center;color:gray">完成的交易</p>
						</div>
					</div>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- new -->
	
<!-- //new -->
<!-- //footer -->
{include file="publicTPL:footer"}
<!-- //footer -->	
<!-- Bootstrap Core JavaScript -->
<script src="/db/public/static/js/bootstrap.min.js"></script>
<!-- top-header and slider -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
<script src="/db/public/static/js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>
<!-- main slider-banner -->
<script src="/db/public/static/js/skdslider.min.js"></script>
<link href="/db/public/static/css/skdslider.css" rel="stylesheet">
<script type="text/javascript">
	var product_id;
	jQuery(document).ready(function(){
		jQuery('#demo1').skdslider({'delay':5000, 'animationSpeed': 2000,'showNextPrev':true,'showPlayButton':true,'autoSlide':true,'animationType':'fading'});
					
		jQuery('#responsive').change(function(){
			$('#responsive_wrapper').width(jQuery(this).val());
		});
		
	});
	function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
    }
</script>	
<!-- //main slider-banner  -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		get_info();
	});
	function get_info(){
		product_id = getUrlParam("product_id");
		$.ajax({
			type : "post",
			url : "getProductInfo",
			data : "pid="+product_id,
			dataType : "json",
			success : function(result) {
				if(result.status == "success"){
					//商品信息
					$("#product_name").html(result.productName);
					$("#example").attr("src",result.pictures[0]);
					$("#price").html(result.price);
					$("#oprice").html(result.oprice);
					$("#product_detail").html(result.productDetail);
					$.each(result.pictures, function(){   
						$("#pictures:last-child").append('<li><img src="'+this+'" class="img-responsive ppicture"></img></li>');				
 					});     
					//卖家信息
					$("#seller_profile").attr("src",result.sellerProfile);
					$("#seller_product_num").html(result.sellerProductNum);
					$("#seller_order_num").html(result.sellerOrderNum);
				}
				else {
					window.location.href = "/db/index.php/index/Index/index";
				}
			},
		});
	};
	$('#buy-now').click(function(){
		layer.confirm('确认购买'+$("#product_name").html()+'?', {
		btn: ['确认','取消'] //按钮
		}, function(){
			$.ajax({
			type : "post",
			url : "buyProduct",
			data : "pid="+product_id,
			dataType : "json",
			success : function(result) {
				if(result.status == "success"){
					layer.msg('购买成功,将自动返回首页', {
						icon: 1,
						btn:['返回首页','查看订单']
					},function(){window.location.href = "/db/index.php/index/Index/index";}
					,function(){window.location.href = "/db/index.php/index/Index/orders";}
					);
					setTimeout(function(){
						window.location.href = "/db/index.php/index/Index/index";
					},2000);
				}
				else {
					layer.msg('购买失败,'+result.reason);
				}
			},
			error : function(){
				layer.msg('购买失败，请稍后重试');
			},
			});
			
		}, function(){}
		);
	});
	$('#submit_to_cart').click(function(){
		$.ajax({
		type : "post",
		url : "addFavorite",
		data : "pid="+product_id,
		dataType : "json",
		success : function(result) {
			if(result.status == "success"){
				layer.msg('收藏成功', {
					icon: 1,
					btn:['查看收藏','留在原地']
				},function(){window.location.href = "/db/index.php/index/Index/checkout";}
				
				);
			}
			else {
				layer.msg('收藏失败,'+result.reason);
			}
		},
		error : function(){
			layer.msg('收藏失败，请稍后重试');
		},
		});
	});
</script>
</body>
</html>