<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				
				<div class="clearfix"> </div>
			</div>
		</div>
		
		<div class="footer-copy">
			
			<div class="container">
				<p>Designed by Hu junsong & Chen Zhiqi</p>
			</div>
		</div>
		
	</div>	
	<div class="footer-botm">
			<div class="container">
				<div class="w3layouts-foot">
					<ul>
						<li><a href="javascript:void(0)" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						<li><a href="javascript:void(0)" class="w3_agile_vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						<li>全都联系不上</li>
					</ul>
				</div>
				<div class="payment-w3ls">	
					<img src="/db/public/static/images/card.png" alt=" " class="img-responsive" style="display:inline"><span>全都不支持</span>
					
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>