<div class="navigation-agileits">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/db/index.php/index/Index/index" class="act">首 页</a></li>	
						<!-- Mega Menu -->
						<li class="dropdown"><a href="/db/index.php/index/Index/class?cid=1">书 刊 影 音</a></li>
						<li class="dropdown"><a href="/db/index.php/index/Index/class?cid=2">美 食 生 鲜</a></li>
						<li class="dropdown"><a href="/db/index.php/index/Index/class?cid=3">家 用 电 器</a></li>
						<li class="dropdown"><a href="/db/index.php/index/Index/class?cid=4">服 饰 内 衣</a></li>
						<li class="dropdown"><a href="/db/index.php/index/Index/class?cid=5">美 妆 个 护</a></li>

						<li><a href="javascript:void(0)">联 系 我 们</a></li>
					</ul>
				</div>
			</nav>
			</div>
		</div>
		